<div class="container">
  <div>
    <h2>Ajouter un Accessoire :</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Accessoire</label>
      <input type="number" [(ngModel)]="newAccessoire.idAccessoire"
        name="idAccessoire" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Accessoire</label>
      <input type="text" [(ngModel)]="newAccessoire.nomAccessoire"
        name="nomAccessoire" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Accessoire</label>
      <input type="number" [(ngModel)]="newAccessoire.prixAccessoire"
        name="prixAccessoire" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" [(ngModel)]="newAccessoire.dateCreation"
        name="dateCreation" class="form-control">
    </div>
    <div class="mt-2">
      <button type="submit" (click)="addAccessoire()" class="btn btn-success">Ajouter</button>
    </div>
  </form>
</div>
