<div class="container">
  <div>
    <h2>Modifier un Accessoire :</h2>
  </div>
  <form>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Accessoire</label>
      <input readonly type="text" [(ngModel)]="currentAccessoire.idAccessoire"
        name="idAccessoire" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Accessoire</label>
      <input type="text" [(ngModel)]="currentAccessoire.nomAccessoire"
        name="nomAccessoire" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Accessoire</label>
      <input type="number" [(ngModel)]="currentAccessoire.prixAccessoire"
        name="prixAccessoire" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" [ngModel]="currentAccessoire.dateCreation | date: 'yyyy-MM-dd'"
        (ngModelChange)="currentAccessoire.dateCreation = $event" name="dateCreation"
        class="form-control">
    </div>
    <div class="mt-2">
      <button type="submit" (click)="updateAccessoire()" class="btn btn-success">Modifier</button>
    </div>
  </form>
</div>
